.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:100px;
    text-align:center;
    
}



input, button, select, textarea:focus {
    font-family: inherit;
    font-size: 15px !important;
    line-height: inherit;
    width: 100%;
    padding: 2px 1px;
    line-height: 48.5px;
    border-radius: 0px;
    border: 0px;
    outline-color: black;
}

.inputSize{
    margin-top:100px;
    float:left;
    max-width:150px;
    max-height:50px;
}

.item
{
    background-color:#007bff;
    margin-top:25px;
    height:30px;
}
.info
{
    background-color:#343a40;
    color:#E5E5E5;
}
.buttons
{
    background-color:#343a40;
    height:60px;
}

p {
    padding:15px;
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3 {
    padding:15px;
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}