ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343a40;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.text{
    font-size:20px;
}

.navTitle.active,hover,focus{
    background-color:#343a40 !important;

}
.principal
{
    background-color:#007bff
}